
body{
font-family:'poppins',san-serif;
}

#navbar{
  background-color:#a39274;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:flex-end;
}

#nav-list{
  display:flex;
  flex-direction:row;
}

li{
  list-style:none;
 }

a{
  color:beige;
  text-decoration:none;
  font-size:1.5em;
  padding: 1rem 0.2rem;
}

a:hover{
  background-color:#252523;
  padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px; 
}

#welcome-section{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;


}

body {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/726/716/933/digital-digital-art-artwork-simple-background-stars-hd-wallpaper-fb09bfd8e79176cdabf89f149e022753.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f3f3f3; /* Fallback color in case the image doesn't load */
}

p{
color:#d8ab4e;
font-weight:bold;
text-shadow: 
                -1px -1px 0 #252523,   /* Top-left shadow */
                 1px -1px 0 #252523,   /* Top-right shadow */
                -1px  1px 0 #252523,   /* Bottom-left shadow */
                 1px  1px 0 #252523; 
}


